@model IEnumerable<WebQLNhanSu.Models.TrinhDo>

<h2>Danh sách trình độ</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã trình độ</th>
            <th>Tên trình độ</th>
            <th width="220">Thao tác</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaTrinhDo</td>
            <td>@item.TenTrinhDo</td>
            <td>
                <div class=action-buttons>
                    <a asp-action="Edit" asp-route-id="@item.MaTrinhDo" class="btn btn-edit">
                        <i class="bi bi-pencil me-1"></i> Sửa
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.MaTrinhDo" class="btn btn-delete">
                        <i class="bi bi-trash me-1"></i> Xóa </a>
                    <a asp-action="Details" asp-route-id="@item.MaTrinhDo" class="btn btn-info">
                        <i class="bi bi-info-circle me-1"></i> Chi tiết </a>
                </div>
            </td>

        </tr>
    }
    </tbody>
</table>